[Unit]
Description=yt-dlp YouTube PO Token Provider
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/bgutil-ytdlp-pot-provider/server/node_modules
ExecStart=/usr/local/bin/deno run --allow-env --allow-net --allow-ffi=. --allow-read=. ../src/main.ts
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
